<div id="accidents_map" class="col-md-8"></div>
	<div class="col-md-4">
      	<div class="panel panel-default">
	        <div class="panel-heading">
	            <strong>
	               <span class="panel-title">Accidents Information</span>
	            </strong>
	        </div>
	        <div class="panel-body">
	          <table class="table">
	            <tbody>
	                <tr>
	                    <td>Damages</td>
	                    <td>{{accidents_data.damages}}</td>
	                </tr>
	                <tr>
	                    <td>Fatalities</td>
	                    <td>{{accidents_data.fatalities}}</td>
	                </tr>
	                <tr>
	                    <td>Injuries</td>
	                    <td>{{accidents_data.injuries}}</td>
	                </tr>
	            </tbody>
	          </table>
	          <span>Click on the markers to display information.</span>
	        </div>
	    </div>
	</div>
</div>

